<a href="https://colab.research.google.com/github/Alice049/linearRegressionGD/blob/main/Onehotencoding%E7%8D%A8%E7%86%B1%E7%B7%A8%E7%A2%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 獨熱編碼
onehot encoder
將原本單一類別變數編碼成多個互相獨立的二元類別變數。
Ｒ語言中以套件{vcd}的關節炎資料框，
利用讀熱編碼套件{onehot}先建立模型物件encoder
其類別值為onehot
再以predict()泛型函數對"Treatment"與"Sex"欄位編碼
最後再與未做獨熱編碼的三個欄位整合為資料框arthritisOh

In [1]:
#載入套件
install.packages("onehot")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [5]:
#載入套件
install.packages("vcd")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘zoo’, ‘lmtest’

In [7]:
library(vcd)
data(Arthritis)

Loading required package: grid

In [8]:
#變數
str(Arthritis)

'data.frame':	84 obs. of  5 variables:
 $ ID       : int  57 46 77 17 36 23 75 39 33 55 ...
 $ Treatment: Factor w/ 2 levels "Placebo","Treated": 2 2 2 2 2 2 2 2 2 2 ...
 $ Sex      : Factor w/ 2 levels "Female","Male": 2 2 2 2 2 2 2 2 2 2 ...
 $ Age      : int  27 29 30 32 46 58 59 59 63 63 ...
 $ Improved : Ord.factor w/ 3 levels "None"<"Some"<..: 2 1 1 3 3 3 1 3 1 1 ...

In [9]:
#因為"Treatment"與"Sex"各有兩個水準，所以為四欄矩陣
library(onehot)
encoder<-onehot(Arthritis[c("Treatment","Sex")])

In [10]:
#模型物件encoder類別與建模名稱相同
class(encoder)

[1] "onehot"

In [16]:
#預測方法predict()根據模型encoder對兩類別欄位做編碼轉換
arthritisOh<-predict(encoder,Arthritis[c("Treatment","Sex")])
Arthritis[41:45,c("Treatment","Sex")];arthritisOh[41:45,]

   Treatment Sex
41 Treated   Female
42 Placebo   Male
43 Placebo   Male
44 Placebo   Male
45 Placebo   Male

     Treatment=Placebo Treatment=Treated Sex=Female Sex=Male
[1,] 0                 1                 1          0
[2,] 1                 0                 0          1
[3,] 1                 0                 0          1
[4,] 1                 0                 0          1
[5,] 1                 0                 0          1

In [17]:
#合併獨熱編碼結果
arthritisOh<-cbind(Arthritis[c("ID","Age","Improved")],arthritisOh)
head(arthritisOh)

  ID Age Improved Treatment=Placebo Treatment=Treated Sex=Female Sex=Male
1 57 27  Some     0                 1                 0          1
2 46 29  None     0                 1                 0          1
3 77 30  None     0                 1                 0          1
4 17 32  Marked   0                 1                 0          1
5 36 46  Marked   0                 1                 0          1
6 23 58  Marked   0                 1                 0          1